.app {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  /* минимальная высота установлена,
  чтобы было видно две начинки в конструкторе,
  и дропзона была адекватных размеров */
  min-height: 700px;
}

.main {
  flex: 1;
  display: flex;
  max-width: 100%;
  overflow-y: hidden;
  position: relative;
}

.main > * {
  flex: 1;
}