@import-normalize;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #131316;
}

.app-container {
  max-width: 1280px;
  margin: 0 auto;
}

.constructor-element {
  max-width: unset !important;
  width: 100%;
}

.constructor-element__text {
  height: 48px;
  overflow: hidden;
}

.constructor-element__price {
  margin-left: auto;
}
